In [2]:
# importing libraries
import pandas as pd             # data science essentials
import matplotlib.pyplot as plt # essential graphical output
import seaborn as sns           # enhanced graphical output


# setting pandas print options
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# specifying file name

file = '/Users/joshuvajohn/Desktop/Machine Learning/Regression Modeling/__datasets/floraf.csv'


# reading the file into Python
flora = pd.read_csv(file)


# outputting the first ten rows of the dataset



flora.head(n=3)

   customer_id type_of_client  total_ytd_order  total_order_amount_ytd  YTD_amount_negative  total_order_amount_Q4  Q4_amount_negative  sex  marital_status   employment_type       occupation country_of_origins  age    education  completed_years_of_education    marital_status.1 relationship_in_household   race
0       760566            NaN               51                  123.85                    1                   0.00                   1    1               1           Private  Exec-managerial      United-States   47      Masters                            14  Married-civ-spouse                   Husband  White
1      5977861            NaN               23                  137.07                    1                   0.00                   1    1               1  Self-emp-not-inc   Prof-specialty      United-States   64  Prof-school                            15  Married-civ-spouse                   Husband  White
2      5990855       Personal                5                   62.65                    1                  62.65                   1    0               0  Self-emp-not-inc    Other-service      United-States   25      HS-grad                             9       Never-married                 Unmarried  White

In [3]:

flora['employment_type'].value_counts()

Private             3065
Self-emp-not-inc     303
Local-gov            246
State-gov            168
Self-emp-inc         141
Federal-gov          108
Without-pay            3
Name: employment_type, dtype: int64

In [ ]:
flora['is_Private'] = np.where(flora['employment_type']=='Private', 1, 0)
flora['is_Gov'] = np.where(flora['employment_type']=='Local-gov', 1, 0)
flora['is_Gov'] = np.where(flora['employment_type']=='State-gov', 1, 0) 
flora['is_Gov'] = np.where(flora['employment_type']=='Federal-gov', 1, 0) 
flora['is_Self_Emp'] = np.where(flora['employment_type']=='Self-emp-not-inc', 1, 0)
flora['is_Self_Emp'] = np.where(flora['employment_type']=='Self-emp-inc', 1, 0)
flora['is_no_pay'] = np.where(flora['employment_type']=='Without-pay', 1, 0)
flora['is_white'] = np.where(flora['race']=='white', 1, 0)
flora['is_black'] = np.where(flora['race']=='black', 1, 0)
flora['is_Api'] = np.where(flora['race']=='Asian-Pac-Islander', 1, 0)
flora['is_Aie'] = np.where(flora['race']=='Amer-Indian-Eskimo', 1, 0)
flora['is_Other'] = np.where(flora['race']=='Other', 1, 0)
flora['is_Husband'] = np.where(flora['relationship_in_household']=='Husband', 1, 0)
flora['is_Not_in_family'] = np.where(flora['relationship_in_household']=='Not-in-family', 1, 0)
flora['is_Own_child'] = np.where(flora['relationship_in_household']=='Own-child', 1, 0)
flora['is_Unmarried'] = np.where(flora['relationship_in_household']=='Unmarried', 1, 0)
flora['is_Wife'] = np.where(flora['relationship_in_household']=='Wife', 1, 0)
flora['is_Other_relative'] = np.where(flora['relationship_in_household']=='Other-relative', 1, 0)
flora['is_US'] = np.where(flora['country_of_origins']=='United-States', 1, 0)
flora['is_not_US'] = np.where(flora['country_of_origins']!='United-States', 1, 0)
flora['Target_Client_Type'] = np.where(flora['type_of_client']=='Wholesaler', 1, 0)
flora['is_Credit'] = np.where(flora['total_order_amount_ytd'].astype(float)<=0, 1, 0)

flora.head(n=50)

In [ ]:

for col in flora:
    print(col)

In [ ]:
flora_binary=

In [ ]:
flora_test=flora.dropna()

flora_test.info()
flora_test.isnull().sum()

In [ ]:
Target_Client_Type
total_ytd_order
total_order_amount_ytd
total_order_amount_OND
sex
marital_status
completed_years_of_education
Asian-Pac-Islander
Amer-Indian-Eskimo
Other
is_white
is_black
is_Private
is_Gov
is_Self_Emp
is_no_pay
is_Asian-Pac-Islander
is_Amer-Indian-Eskimo
is_Other
is_Husband
is_Not-in-family
is_Own-child
is_Unmarried
is_Wife
is_Other-relative
is_US
is_not_US

In [ ]:
import statsmodels.formula.api as smf
lm_practice = smf.ols(formula = """Target_Client_Type ~ """,
                        data = flora_test)


# telling Python to FIT the data to the blueprint
results = lm_practice.fit()


# printing a summary of the results
print(results.summary())

In [ ]:
flora_final = flora[total_order_amount_ytd][YTD_amount_negative][total_order_amount_Q4][Q4_amount_negative][sex][marital_status][age][completed_years_of_education][]


["is_Private"]	["is_Gov"] {"is_Self_Emp"}	["is_no_pay"]	["is_white"]	["is_black"]	["is_Api"]	["is_Aie"]	["is_Other"]	["is_Husband"]	is_Not-in-family	is_Own-child	is_Unmarried	is_Wife	is_Other-relative	is_US	is_not_US	Target_Client_Type	is_Credit	is_Not_in_family	is_Other_relative

In [ ]:
# importing libraries
import pandas as pd                   # data science essentials
import matplotlib.pyplot as plt       # essential graphical output
import seaborn as sns                 # enhanced graphical output
import numpy as np                    # mathematical essentials
import statsmodels.formula.api as smf 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
X = flora_test.iloc[:, :-1].values
y = flora_test.iloc[:, 1].values
print(X.shape, y.shape)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=219)


regressor = LinearRegression()
regressor.fit(X_train, y_train)